node_modules
npm-debug.log
.yarn
.expo
.expo-shared
.dist
build
android/app/build
android/.gradle
android/.cxx
ios/build
ios/Pods
*.keystore
*.jks
*.keystore.properties
*.env
.env*
.git
.gitignore
Dockerfile*
docker-compose*
.DS_Store
.idea
.vscode
coverage
**/*.map
